<form action='/counter' method="post">
    <label for='word'>Type a Word/Letter</label>
    <input id='word' name='word'  type='text'>
    <label for='sentence'>Type a Sentence or several Words</label>
    <input id='sentence' name='sentence' type='text'>
  <button type='submit' class='btn'>Do It</button>
</form>
<a href="/">Go Back to Starting Page ?</a>
